@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase.js"></script>
<script>
  // Initialize Identity Platform
  var config = {
    apiKey: "abcdefg123456",
    authDomain: "myproject.firebaseapp.com"
  };
  firebase.initializeApp(config);
</script>