<link rel="stylesheet" href="~/css/product.css">
<div id="container">
    <h1>We Have The Following Plans:</h1>
    <div id="planContainer">
        </div>
    <p id="planText">You are now on <span id="planName">No Plan</span>,<br>Your daily charge is S$<span id="amount">0</span></p>
    <button id="managePlanBtn">Manage Your Subscription</button>
    </div>
@section scripts{ 
 
<script>
    var planList = [];
    $(window).on('load', function () {

        $.ajax({
            method: "GET",
            url: "/Stripe/GetAllProducts",
        }).done(function (data) {
            for (var i = 0; i < data.value.length; i++) {
                var amount = data.value[i].amount;
                var planDescription = data.value[i].name;
                var priceId = data.value[i].priceId;
                var productId = data.value[i].id;
                $('#planContainer').append(`<div id=${priceId}><span>${planDescription}</span> <span>Charge: ${amount}S$/day</span></div>`);
                planList.push({ priceId: priceId, planDescription: planDescription, amount: amount, productId: productId });
            }
            getSubscription();
        }).fail(function (data) {

        });

        function getSubscription() {
            $.ajax({
                method: "GET",
                url: "/Stripe/GetSubscription?customerId=" + sessionStorage.getItem('customerId').toString(),
           
            }).done(function (data) {
                console.dir(data);
                for (var i = 0; i < data.value.length; i++) {
                    for (var y = 0; y < planList.length; y++) {
                        if (data.value[i].prodId == planList[y].productId) {
                            $("#planText").css('display', 'block');
                            $('#planName').text(planList[y].planDescription);
                            $('#amount').text(planList[y].amount);
                            $('#' + data.value[i].priceId).css('text-decoration', 'underline');
                        }
                    }
                }
            }).fail(function (data) {

            });

        }

        $('#managePlanBtn').on('click', function () {
            $.ajax({
                method: "POST",
                url: "/Stripe/CustomerPortal",
                data: { customerId: sessionStorage.getItem('customerId') }
            }).done(function (data) {
                window.location = data;
            }).fail(function (data) {
            });

        });
    });
  
    </script>
}