<link rel="stylesheet" href="~/css/talentDetail.css">
<script>
    try {
        AWS.config.update({
            accessKeyId: 'ASIA6CJKPEFDBGS4A5TT',
            secretAccessKey: 'UbGIFIf4hmjqhN5AGJrc7A097mRCT/LHsbpKcRBI',
            sessionToken: 'FwoGZXIvYXdzEBYaDIRJ046jAnRepu79wCLKAakLk/cE9huoZV8x2CUS+LtqJHlBvab0mUUKkrhHjUDnPxRkarGnvEMLLMHDJi3WOeWaJ80GDtwX2jRvbONGAQSdZC4BkCSUPvEfbXsyljmDUfG0GuEDdhNHVrQFeLPQWKkNTu6Yzzrken9Aslu7hXtyXpQ9mVw5Qqz1DzBCK9ZB6iD4JgLwsm/0RyB6icjN/K0srGgPBCP1vUup7a13rnuy/+v0Ra0t9pu6EBiOGCUS61PP+xO+k4+FCUt8clzJeor2ORkj2qI0iCoowL3qgAYyLZXZQNeuvnQI+S8J/khz1vZFCdqrN4H/HITFYyNwL2yVu/+iCiXC2aPGvIKokA=='
        });
    }catch (err) {
        alert("Need a valid aws API Key!");
        throw "Invalid API Key";
    }
    AWS.config.region = 'us-east-1';

    try {
        var app = new Clarifai.App({
            apiKey: '273a31f83066475ba4b52e58c1b0c967'
        });
    }
    catch (err) {
        alert("Need a valid clarifai API Key!");
        throw "Invalid API Key";
    }

    // Checks for valid image type
    function validFile(imageName) {
        var lowerImageName = imageName.toLowerCase();
        return lowerImageName.search(/jpg|png|bmp|tiff/gi) != -1;
    }
</script>

<body>
    <div id="imgContainer">
        <div id="imgBox">
            <img src="" id="img" alt="">
        </div>
        <div id="textBox">
            <p id="name"></p>
            <p id="bio"></p>
            <p id="reknown"></p>
        </div>
        <button class="btn-outline-primary" id="editTalentBtn">Edit talent</button>
        <button class="btn-outline-danger" id="deleteTalentBtn">Delete talent</button>
    </div>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

        var disqus_config = function () {
            this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
            //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://tltt-1.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <!-- Modal -->
    <div class="modal fade" id="editTalentModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Talent</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <label for="editName">Name :</label>
                        <input type="text" name="editName" id="editName" value="" required>

                        <label for="editShortName">Short Name :</label>
                        <input type="text" name="editShortName" id="editShortName" value="" required>

                        <label for="editReknown">Reknown :</label>
                        <input type="text" name="editReknown" id="editReknown" value="" required>

                        <label for="editBio">Bio:</label>
                        <textarea id="editBio" name="editBio" rows="4" cols="50" required></textarea>

                        <input type="file" name="file" id="file" value="dataFile" >
                        <br />
                        <div class="modal-footer">
                            <!-- <input type="submit" name="submit" class="btn btn-block btn-warning" value="Save changes" /> -->
                            <button type="submit" name="submit" class="btn btn-success" id="editTalent" value="Edit">
                                Save edit to S3
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                        @*<input type="submit" id="addBtn" class="submitBtn">*@
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="deleteContainer">
            <h1>Delete Account</h1>
            <p id="deleteText">Are you sure you want to delete account?</p>

            <div class="clearfix">
                <button type="button" class="cancelbtn" data-dismiss="modal">Cancel</button>
                <button type="button" class="deletebtn" id="deleteBtn">Delete</button>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        var id = getParameterByName('id');
        var shortName = '';
        var name = '';
        var bio = '';
        var profile = '';
        var reknown = '';
        var imgUrl = '';
        $.ajax({
            method: 'GET',
            url: ' https://rcfl5otx2c.execute-api.us-east-1.amazonaws.com/Prod/api/Talent/GetTalentById/' + id,
            statusCode: 200,
            headers: {
                "Access-Control-Allow-Headers": "Content-Type",
                "Access-Control-Allow-Origin": "https://www.example.com",
                "Access-Control-Allow-Methods": "OPTIONS,POST,GET"
            },
        }).done(function (data) {
            shortName = data.shortName;
            name = data.name;
            bio = data.bio;
            reknown = data.reknown;
            profile = data.profile;
            imgUrl = profile;
            $('#name').html(name);
            $('#bio').html(bio);
            $('#reknown').html(reknown);
            $('#img').attr("src", profile);
            console.log(data)
        }).fail(function (data) {
            console.log('fail')
        });

        function editTalentDetail() {
            var talent = {
                Name: $("input[name='editName']").val(),
                ShortName: $("input[name='editShortName']").val(),
                Profile: imgUrl,
                Bio: $("textarea#editBio").val(),
                Reknown: $("input[name='editReknown']").val()
            }
            $.ajax({
                method: "PUT",
                url: ' https://rcfl5otx2c.execute-api.us-east-1.amazonaws.com/Prod/api/Talent/PutTalent/'+id,
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(talent),
                statusCode: 200,
                headers: {
                    "Access-Control-Allow-Headers": "Content-Type",
                    "Access-Control-Allow-Origin": "https://www.example.com",
                    "Access-Control-Allow-Methods": "OPTIONS,POST,GET,PUT"
                },
            }).done(function (data) {
                $.toast({
                    text: "Talent Edited Successfully!",
                    showHideTransition: 'slide',
                    bgColor: '#f2f5ff',
                    textColor: '#5170d6',
                    allowToastClose: false,
                    hideAfter: 1000,
                    stack: 5,
                    textAlign: 'center',
                    position: 'top-right'
                });
                setTimeout(function () { location.reload(); }, 1000);
            }).fail(function (data) {
                console.log(data.responseText)
                if (data.responseText == undefined) {
                    $.toast({
                        text: data.responseText,
                        showHideTransition: 'slide',
                        bgColor: '#965d4d',
                        textColor: '#ffffff',
                        allowToastClose: false,
                        hideAfter: 3000,
                        stack: 5,
                        textAlign: 'left',
                        position: 'top-right'
                    })
                } else if (data.responseText.trim() == '' || data.responseText.trim() == null) {
                    $.toast({
                        text: "Talent Edited Successfully!",
                        showHideTransition: 'slide',
                        bgColor: '#f2f5ff',
                        textColor: '#5170d6',
                        allowToastClose: false,
                        hideAfter: 1000,
                        stack: 5,
                        textAlign: 'center',
                        position: 'top-right'
                    });
                    setTimeout(function () { location.reload(); }, 1000);
                } else {
                    $.toast({
                        text: data.responseText,
                        showHideTransition: 'slide',
                        bgColor: '#965d4d',
                        textColor: '#ffffff',
                        allowToastClose: false,
                        hideAfter: 3000,
                        stack: 5,
                        textAlign: 'left',
                        position: 'top-right'
                    })
                }
            });
        }

        var s3BucketName = 'csc1718s1';

        function predict_click(value, source) {

            if (source === "url") {
                doPredict({ url: value });

                // Div Stuff
                createHiddenDivs("url", value);
            }

            else if (source === "file") {
                var file = document.querySelector("input[type=file]").files[0];
                var reader = new FileReader();

                // load local file picture
                reader.addEventListener("load", function () {
                    var localBase64 = reader.result.split("base64,")[1];
                    doPredict({ base64: localBase64 });

                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }
        }

        /*Purpose: Does a v2 prediction based on user input
        Args:
        value - Either {url : urlValue} or { base64 : base64Value }*/
        function doPredict(value) {

            var modelID = "TalentSearch";

            app.models.predict(modelID, value).then(

                function (response) {
                    console.log(response);
                    var tagArray;
                    if (response.rawData.outputs[0].data.hasOwnProperty("concepts")) {
                        try {
                            tagArray = response.rawData.outputs[0].data.concepts;
                            var checkTalent = true;
                            for (var other = 0; other < tagArray.length; other++) {
                                if (tagArray[other].name == "human") {
                                    if (tagArray[other].value < 0.6) {
                                        checkTalent = false;
                                        console.log(tagArray[other].value)
                                    }
                                }
                            }

                            if (!checkTalent) {
                                window.alert("Not A TALENT")
                            } else {
                                var s3 = new AWS.S3({
                                    params: { Bucket: 'csc1718s1' }
                                });
                                var file = document.getElementById('file').files[0];
                                if (file) {
                                    s3.putObject({
                                        Key: file.name,
                                        ContentType: file.type,
                                        Body: file,
                                        ACL: "public-read"
                                    },
                                        function (err, data) {
                                            if (data !== null) {
                                                imgUrl = "https://csc1718s1.s3.amazonaws.com/" + file.name;
                                                editTalentDetail();
                                            }
                                            else {
                                                $.toast({
                                                    text: "Upload fail",
                                                    showHideTransition: 'slide',
                                                    bgColor: '#965d4d',
                                                    textColor: '#ffffff',
                                                    allowToastClose: false,
                                                    hideAfter: 3000,
                                                    stack: 5,
                                                    textAlign: 'left',
                                                    position: 'top-right'
                                                });
                                            }
                                        });
                                }

                            }
                            tagCount = tagArray.length;
                        } catch (err) {
                            console.log(err)
                        }
                    }

                    // Bad region request
                    else {
                        return;
                    }

                },
                function (err) {
                    console.log(err);
                }
            );
        }

        document.getElementById('editTalent').addEventListener(
            'click',
            function () {
                if ($('#file').val() == '') {
                    editTalentDetail();
                }

                else if (!validFile($('#file').val())) {
                    alert('Supported File Types: JPEG, PNG, TIFF, BMP');
                    return;
                } else {
                    predict_click($('#file').val(), 'file');
                }
            });

        document.getElementById('editTalentBtn').addEventListener(
            'click',
            function () {
                $('input[name="editName"]').val(name);
                $('input[name="editShortName"]').val(shortName);
                //$('input[name="editProfile"]').val(profile);
                $('textarea#editBio').val(bio);

                $('input[name="editReknown"]').val(reknown);
                $('#editTalentModal').modal('show');

            });

        document.getElementById('deleteTalentBtn').addEventListener(
            'click',
            function () {
                $('#deleteModal').modal('show');

            });

        document.getElementById('deleteBtn').addEventListener(
            'click',
            function () {
                $.ajax({
                    method: "DELETE",
                    url: ' https://rcfl5otx2c.execute-api.us-east-1.amazonaws.com/Prod/api/Talent/DeleteTalent/'+id,
                    statusCode: 200,
                    headers: {
                        "Access-Control-Allow-Headers": "Content-Type",
                        "Access-Control-Allow-Origin": "https://www.example.com",
                        "Access-Control-Allow-Methods": "OPTIONS,POST,GET"
                    },
                }).done(function (data) {
                    $.toast({
                        text: "Talent Delete Successfully!",
                        showHideTransition: 'slide',
                        bgColor: '#f2f5ff',
                        textColor: '#5170d6',
                        allowToastClose: false,
                        hideAfter: 1000,
                        stack: 5,
                        textAlign: 'center',
                        position: 'top-right'
                    });
                    setTimeout(function () { location.href="/Home/Talent"; }, 1000);
                }).fail(function (data) {
                    $.toast({
                        text: data.responseText,
                        showHideTransition: 'slide',
                        bgColor: '#965d4d',
                        textColor: '#ffffff',
                        allowToastClose: false,
                        hideAfter: 3000,
                        stack: 5,
                        textAlign: 'left',
                        position: 'top-right'
                    });
                });

            });

        $('#editForm').submit(function (e) {
            e.preventDefault();
        });
    </script>
}