<link rel="stylesheet" href="~/css/talentDetail.css">
<script>
    try {
        AWS.config.update({
            accessKeyId: 'ASIA6CJKPEFDO733DQ34',
            secretAccessKey: 'GdZGxamBuaaFAx6D6H1xnQSNAaFl7vWdwpx+hNra',
            sessionToken: 'FwoGZXIvYXdzEDwaDOPW3Pfn0uxaVMA5hSLKAZoM+8Nc0dFbIpYw0mc6D4WK1b59kSSlNF2C1OHfrTbv9HIh10pE6DDBSj1KEE6UcBeNYsy/zncZpUtlaoaXGAkNOd8l1sMpWzAFvXUXtxmvRRBefdzMc4oulbexvW6C9SWovR8pAloMmRswbUMXRB4mcQne1da+bvx1ZJbCLo8FM7Ut01jPnTnoS53X3c5ca3/FVuOtB031aTP5Xb1rYOOSosLUNpaLQKYm0A8mDmqV/LDRaw5DIEuVCl3f63d0lTz30bysr1RTBiEo5trygAYyLa7moLzAjtTKUV9DSNQrKu0p1Q98+yultQWD23sdkkdE6qA0qgmhnvUTcK7SOw=='
        });
    }catch (err) {
        alert("Need a valid aws API Key!");
        throw "Invalid API Key";
    }
    AWS.config.region = 'us-east-1';

    try {
        var app = new Clarifai.App({
            apiKey: '273a31f83066475ba4b52e58c1b0c967'
        });
    }
    catch (err) {
        alert("Need a valid clarifai API Key!");
        throw "Invalid API Key";
    }

    // Checks for valid image type
    function validFile(imageName) {
        var lowerImageName = imageName.toLowerCase();
        return lowerImageName.search(/jpg|png|bmp|tiff/gi) != -1;
    }
</script>

<body>
    <div id="imgContainer">
        <div id="imgBox">
            <img src="" id="img" alt="">
        </div>
        <div id="textBox">
            <h3 id="name"></h3>
            <p id="bio"></p>
            <p id="reknown"></p>
        </div>
        <button class="btn-outline-primary" id="editTalentBtn">Edit talent</button>
        <button class="btn-outline-danger" id="deleteTalentBtn">Delete talent</button>
    </div>
    <script>window.recombeeIntegration = window.recombeeIntegration || function () { (recombeeIntegration.q = recombeeIntegration.q || []).push(arguments) }; recombeeIntegration.l = +new Date;</script>
    <script defer src="https://web-integration.recombee.com/v1/recombee.js"></script>
    <h3 id="reco">Recommendation</h3>
    <div id="widget-root-ff0038ea-72b5-4290-9675-68f392610e38"></div>
    <div id="promotionContainer">Become a Paid user to use the discussion function</div>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

        var disqus_config = function () {
            this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
            //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://tltt-1.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <!-- Modal -->
    <div class="modal fade" id="editTalentModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Talent</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <label for="editName">Name :</label>
                        <input type="text" name="editName" id="editName" value="" required>

                        <label for="editShortName">Short Name :</label>
                        <input type="text" name="editShortName" id="editShortName" value="" required>

                        <label for="editReknown">Reknown :</label>
                        <input type="text" name="editReknown" id="editReknown" value="" required>

                        <label for="editBio">Bio:</label>
                        <textarea id="editBio" name="editBio" rows="4" cols="50" required></textarea>

                        <input type="file" name="file" id="file" value="dataFile">
                        <br />
                        <div class="modal-footer">
                            <!-- <input type="submit" name="submit" class="btn btn-block btn-warning" value="Save changes" /> -->
                            <button type="submit" name="submit" class="btn btn-success" id="editTalent" value="Edit">
                                Save edit to S3
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                        @*<input type="submit" id="addBtn" class="submitBtn">*@
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div id="deleteModal" class="modal">
        <div class="deleteContainer">
            <h1>Delete Talent</h1>
            <p id="deleteText">Are you sure you want to delete Talent?</p>

            <div class="clearfix">
                <button type="button" class="cancelbtn" data-dismiss="modal">Cancel</button>
                <button type="button" class="deletebtn" id="deleteBtn">Delete</button>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        var id = getParameterByName('id');
        var shortName = '';
        var name = '';
        var bio = '';
        var profile = '';
        var reknown = '';
        var imgUrl = '';
        $.ajax({
            method: 'GET',
            url: ' https://rcfl5otx2c.execute-api.us-east-1.amazonaws.com/Prod/api/Talent/GetTalentById/' + id,
            statusCode: 200,
            headers: {
                "Access-Control-Allow-Headers": "Content-Type",
                "Access-Control-Allow-Origin": "https://www.example.com",
                "Access-Control-Allow-Methods": "OPTIONS,POST,GET"
            },
        }).done(function (data) {
            shortName = data.shortName;
            name = data.name;
            bio = data.bio;
            reknown = data.reknown;
            profile = data.profile;
            imgUrl = profile;
            $('#name').html("Name: "+name);
            $('#bio').html("Bio: "+bio);
            $('#reknown').html("Reknown: "+reknown);
            $('#img').attr("src", profile);
            console.log(data)
        }).fail(function (data) {
            console.log('fail')
        });

        var userId = sessionStorage.getItem('customerId');
        if (userId == "" || userId == null) {
            userId = "freeUser";
        }
        var client = new recombee.ApiClient('tltt-dev', 'gH4f8KmjXJOOX3Pat0chfKCTC2sugedv9RFS8hHRTzZSbsstgPmzf2TkwB1OkWCX');
        client.send(new recombee.AddDetailView(userId, id+""),
            (err, response) => {
                //...
            }
        );
        recombeeIntegration({
            "type": "SetDefaults",
            "itemId": id,
            "userId": userId,
            "publicToken": "gH4f8KmjXJOOX3Pat0chfKCTC2sugedv9RFS8hHRTzZSbsstgPmzf2TkwB1OkWCX",
            "databaseId": "tltt-dev",
            "rapiHostname": "client-rapi.recombee.com:443"
        });
        recombeeIntegration({
            "type": "AddDetailView"
        });
        recombeeIntegration({
            "type": "InitializeRecommendationWidget",
            "rootElementId": "widget-root-ff0038ea-72b5-4290-9675-68f392610e38",
		    "widgetId": "ff0038ea-72b5-4290-9675-68f392610e38"
        });

        function editTalentDetail() {
            var talent = {
                Name: $("input[name='editName']").val(),
                ShortName: $("input[name='editShortName']").val(),
                Profile: imgUrl,
                Bio: $("textarea#editBio").val(),
                Reknown: $("input[name='editReknown']").val()
            }
            $.ajax({
                method: "PUT",
                url: ' https://rcfl5otx2c.execute-api.us-east-1.amazonaws.com/Prod/api/Talent/PutTalent/'+id,
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(talent),
                statusCode: 200,
                headers: {
                    "Access-Control-Allow-Headers": "Content-Type",
                    "Access-Control-Allow-Origin": "https://www.example.com",
                    "Access-Control-Allow-Methods": "OPTIONS,POST,GET"
                },
            }).done(function (data) {
                $.toast({
                    text: "Talent Edited Successfully!",
                    showHideTransition: 'slide',
                    bgColor: '#f2f5ff',
                    textColor: '#5170d6',
                    allowToastClose: false,
                    hideAfter: 1000,
                    stack: 5,
                    textAlign: 'center',
                    position: 'top-right'
                });
                setTimeout(function () { location.reload(); }, 1000);
            }).fail(function (data) {
                console.log(data.responseText)
                if (data.responseText == undefined) {
                    $.toast({
                        text: data.responseText,
                        showHideTransition: 'slide',
                        bgColor: '#965d4d',
                        textColor: '#ffffff',
                        allowToastClose: false,
                        hideAfter: 3000,
                        stack: 5,
                        textAlign: 'left',
                        position: 'top-right'
                    })
                } else if (data.responseText.trim() == '' || data.responseText.trim() == null) {
                    $.toast({
                        text: "Talent Edited Successfully!",
                        showHideTransition: 'slide',
                        bgColor: '#f2f5ff',
                        textColor: '#5170d6',
                        allowToastClose: false,
                        hideAfter: 1000,
                        stack: 5,
                        textAlign: 'center',
                        position: 'top-right'
                    });
                    setTimeout(function () { location.reload(); }, 1000);
                } else {
                    $.toast({
                        text: data.responseText,
                        showHideTransition: 'slide',
                        bgColor: '#965d4d',
                        textColor: '#ffffff',
                        allowToastClose: false,
                        hideAfter: 3000,
                        stack: 5,
                        textAlign: 'left',
                        position: 'top-right'
                    })
                }
            });
        }

        var s3BucketName = 'csc2021';

        function predictClick(value, source) {

            if (source === "url") {
                doPrediction({ url: value });

                // Div Stuff
                createHiddenDivs("url", value);
            }

            else if (source === "file") {
                var file = document.querySelector("input[type=file]").files[0];
                var reader = new FileReader();

                // load local file picture
                reader.addEventListener("load", function () {
                    var localBase64 = reader.result.split("base64,")[1];
                    doPrediction({ base64: localBase64 });

                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }
        }

        /*Purpose: Does a v2 prediction based on user input
        Args:
        value - Either {url : urlValue} or { base64 : base64Value }*/
        function doPrediction(value) {

            var modelID = "TalentSearch";

            app.models.predict(modelID, value).then(

                function (response) {
                    console.log(response);
                    var tagArray;
                    if (response.rawData.outputs[0].data.hasOwnProperty("concepts")) {
                        try {
                            tagArray = response.rawData.outputs[0].data.concepts;
                            var checkTalent = true;
                            for (var other = 0; other < tagArray.length; other++) {
                                if (tagArray[other].name == "human") {
                                    if (tagArray[other].value < 0.6) {
                                        checkTalent = false;
                                        console.log(tagArray[other].value)
                                    }
                                }
                            }

                            if (!checkTalent) {
                                window.alert("Not A TALENT")
                            } else {
                                var s3 = new AWS.S3({
                                    params: { Bucket: 'csc2021' }
                                });
                                var file = document.getElementById('file').files[0];
                                if (file) {
                                    s3.putObject({
                                        Key: file.name,
                                        ContentType: file.type,
                                        Body: file,
                                        ACL: "public-read"
                                    },
                                        function (err, data) {
                                            if (data !== null) {
                                                imgUrl = "https://csc2021.s3.amazonaws.com/" + file.name;
                                                editTalentDetail();
                                            }
                                            else {
                                                $.toast({
                                                    text: "Upload fail",
                                                    showHideTransition: 'slide',
                                                    bgColor: '#965d4d',
                                                    textColor: '#ffffff',
                                                    allowToastClose: false,
                                                    hideAfter: 3000,
                                                    stack: 5,
                                                    textAlign: 'left',
                                                    position: 'top-right'
                                                });
                                            }
                                        });
                                }

                            }
                            tagCount = tagArray.length;
                        } catch (err) {
                            console.log(err)
                        }
                    }

                    // Bad region request
                    else {
                        return;
                    }

                },
                function (err) {
                    console.log(err);
                }
            );
        }

        document.getElementById('editTalent').addEventListener(
            'click',
            function () {
                if ($('#file').val() == '') {
                    editTalentDetail();
                }
                else if (!validFile($('#file').val())) {
                    alert('Supported File Types: JPEG, PNG, TIFF, BMP');
                    return;
                } else {
                    predictClick($('#file').val(), 'file');
                }
            });

        document.getElementById('editTalentBtn').addEventListener(
            'click',
            function () {
                $('input[name="editName"]').val(name);
                $('input[name="editShortName"]').val(shortName);
                //$('input[name="editProfile"]').val(profile);
                $('textarea#editBio').val(bio);

                $('input[name="editReknown"]').val(reknown);
                $('#editTalentModal').modal('show');

            });

        document.getElementById('deleteTalentBtn').addEventListener(
            'click',
            function () {
                $('#deleteModal').modal('show');

            });

        document.getElementById('deleteBtn').addEventListener(
            'click',
            function () {
                $.ajax({
                    method: "DELETE",
                    url: ' https://rcfl5otx2c.execute-api.us-east-1.amazonaws.com/Prod/api/Talent/DeleteTalent/'+id,
                    statusCode: 200,
                    headers: {
                        "Access-Control-Allow-Headers": "Content-Type",
                        "Access-Control-Allow-Origin": "https://www.example.com",
                        "Access-Control-Allow-Methods": "OPTIONS,POST,GET"
                    },
                }).done(function (data) {
                    $.toast({
                        text: "Talent Delete Successfully!",
                        showHideTransition: 'slide',
                        bgColor: '#f2f5ff',
                        textColor: '#5170d6',
                        allowToastClose: false,
                        hideAfter: 1000,
                        stack: 5,
                        textAlign: 'center',
                        position: 'top-right'
                    });
                    setTimeout(function () { location.href="/Home/Talent"; }, 1000);
                }).fail(function (data) {
                    $.toast({
                        text: data.responseText,
                        showHideTransition: 'slide',
                        bgColor: '#965d4d',
                        textColor: '#ffffff',
                        allowToastClose: false,
                        hideAfter: 3000,
                        stack: 5,
                        textAlign: 'left',
                        position: 'top-right'
                    });
                });

            });

        $('#editForm').submit(function (e) {
            e.preventDefault();
        });
    </script>
}