<link rel="stylesheet" href="~/css/talent.css">
<script>
    AWS.config.update({
        accessKeyId: 'ASIA6CJKPEFDMO73XXMO',
        secretAccessKey: 'B/bAtyRg4Jpk+2NAB8RlmGBfk36I1ugKeFPLDSkI',
        sessionToken: 'FwoGZXIvYXdzEBQaDFlGzO4UEMQ01dtORCLKAbuHCazsrYX3e66858nYv/XG2SABTGyIcGT7y5UoLX/2eInBF1SFfsXkgoOkfyw2MG3GXdW9hi0WBuJiy7EuQe11a6YT/F/7peeu0oZZnKtttBRQ1XcolTvOzIuXlZO5jxRbLc6C5qkZrnOHpCmXV/54JZIYRjGWjxa3jGdaRvWJckpSW0UwFo38Z8UVM8f/KBbb8D0TBN0z7uiH2CP155zk263oWDMh7x14u6nvLS8+LdAzus5jBhC0P1AkHzM3L3zD+GJi2XawJRMo7oXqgAYyLTiCEvHS5zE4lSL5ngTh6UqlpXzwXEmL4QrEgJrlk2kNGYV7nvkmzJXYBhlK8A=='
    });
    AWS.config.region = 'us-east-1';

    try {
        var app = new Clarifai.App({
            apiKey: '273a31f83066475ba4b52e58c1b0c967'
        });
    }
    catch (err) {
        alert("Need a valid API Key!");
        throw "Invalid API Key";
    }

    // Checks for valid image type
    function validFile(imageName) {
        var lowerImageName = imageName.toLowerCase();
        return lowerImageName.search(/jpg|png|bmp|tiff/gi) != -1;
    }
</script>

<body>
    <button class="btn-outline-primary" id="talentBtn">Add talent</button>

    <div id="imgContainer"></div>

    <!-- Modal -->
    <div class="modal fade" id="addTalentModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Talent</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <label for="addName">Name :</label>
                        <input type="text" name="addName" id="addName" value="" required>

                        <label for="addShortName">Short Name :</label>
                        <input type="text" name="addShortName" id="addShortName" value="" required>

                        <label for="addReknown">Reknown :</label>
                        <input type="text" name="addReknown" id="addReknown" value="" required>

                        <label for="addBio">Bio:</label>
                        <textarea id="addBio" name="addBio" rows="4" cols="50" required></textarea>

                        <input type="file" name="file" id="file" value="dataFile" required="">
                        <br />
                        <div class="modal-footer">
                            <!-- <input type="submit" name="submit" class="btn btn-block btn-warning" value="Save changes" /> -->
                            <button type="submit" name="submit" class="btn btn-success" id="addTalent" value="Add" onclick="if(file.value == '') {
                                alert('Please browse for a file!');
                                return;
                              }

                              else if (!validFile(file.value)) {
                                alert('Supported File Types: JPEG, PNG, TIFF, BMP');
                                return;
                              }
                              predict_click($('#file').val(), 'file');">
                                Upload to S3
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                        @*<input type="submit" id="addBtn" class="submitBtn">*@
                    </form>
                </div>
            </div>

        </div>
    </div>

    
</body>
@section scripts{
    <script>
        var talent;
        var editId = 0;
        var editBio = '';
        $.ajax({
            method: 'GET',
            url: ' https://rcfl5otx2c.execute-api.us-east-1.amazonaws.com/Prod/api/Talent/GetAllTalent',
            statusCode: 200,
            headers: {
                "Access-Control-Allow-Headers" : "Content-Type",
                "Access-Control-Allow-Origin": "https://www.example.com",
                "Access-Control-Allow-Methods": "OPTIONS,POST,GET"
            },
        }).done(function (data) {
            for (var i = 0; i < data.length; i++) {
                var id = data[i].id;
                var name = data[i].name;
                var shortName = data[i].shortName;
                var profile = data[i].profile;
                var bio = data[i].bio;
                var reknown = data[i].reknown;
                let $item = $(`<div class="image">
                    <a href="TalentDetail?id=${id}">
                        <div class="imgbox">
                            <img src="${profile}" alt="${name}" class="img">
                        </div>
                    </a>
                </div>`);
                $('#imgContainer').append($item);
            }
            console.log(data)
        }).fail(function (data) {
           
        });

        var s3BucketName = 'csc1718s1';

        function predict_click(value, source) {

            if (source === "url") {
                doPredict({ url: value });

                // Div Stuff
                createHiddenDivs("url", value);
            }

            else if (source === "file") {
                var file = document.querySelector("input[type=file]").files[0];
                var reader = new FileReader();

                // load local file picture
                reader.addEventListener("load", function () {
                    var localBase64 = reader.result.split("base64,")[1];
                    doPredict({ base64: localBase64 });

                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }
        }

        /*Purpose: Does a v2 prediction based on user input
        Args:
        value - Either {url : urlValue} or { base64 : base64Value }*/
        function doPredict(value) {

            var modelID = "TalentSearch";

            app.models.predict(modelID, value).then(

                function (response) {
                    console.log(response);
                    var tagArray;
                    if (response.rawData.outputs[0].data.hasOwnProperty("concepts")) {
                        try {
                            tagArray = response.rawData.outputs[0].data.concepts;
                            var checkTalent = true;
                            for (var other = 0; other < tagArray.length; other++) {
                                if (tagArray[other].name == "human") {
                                    if (tagArray[other].value < 0.6) {
                                        checkTalent = false;
                                        console.log(tagArray[other].value)
                                    }
                                }
                            }

                            if (!checkTalent) {
                                $.toast({
                                    text: "Not a talent image",
                                    showHideTransition: 'slide',
                                    bgColor: '#965d4d',
                                    textColor: '#ffffff',
                                    allowToastClose: false,
                                    hideAfter: 3000,
                                    stack: 5,
                                    textAlign: 'left',
                                    position: 'top-right'
                                });
                            } else {
                                var s3 = new AWS.S3({
                                    params: { Bucket: 'csc1718s1' }
                                });
                                var file = document.getElementById('file').files[0];
                                if (file) {
                                    s3.putObject({
                                        Key: file.name,
                                        ContentType: file.type,
                                        Body: file,
                                        ACL: "public-read"
                                    },
                                        function (err, data) {
                                            if (data !== null) {
                                                var talent = {
                                                    Name: $("input[name='addName']").val(),
                                                    ShortName:$("input[name='addShortName']").val(),
                                                    Profile: "https://csc1718s1.s3.amazonaws.com/" + file.name,
                                                    Bio: $("textarea#addBio").val(),
                                                    Reknown: $("input[name='addReknown']").val()
                                                }
                                                $.ajax({
                                                    method: "POST",
                                                    url: ' https://rcfl5otx2c.execute-api.us-east-1.amazonaws.com/Prod/api/Talent/PostTalent',
                                                    dataType: 'json',
                                                    contentType: 'application/json',
                                                    data: JSON.stringify(talent),
                                                    statusCode: 200,
                                                    headers: {
                                                        "Access-Control-Allow-Headers": "Content-Type",
                                                        "Access-Control-Allow-Origin": "https://www.example.com",
                                                        "Access-Control-Allow-Methods": "OPTIONS,POST,GET"
                                                    },
                                                }).done(function (data) {
                                                    $.toast({
                                                        text: "Talent Add Successfully!",
                                                        showHideTransition: 'slide',
                                                        bgColor: '#f2f5ff',
                                                        textColor: '#5170d6',
                                                        allowToastClose: false,
                                                        hideAfter: 1000,
                                                        stack: 5,
                                                        textAlign: 'center',
                                                        position: 'top-right'
                                                    });
                                                    setTimeout(function () { location.reload(); }, 1000);
                                                }).fail(function (data) {
                                                    console.log(data.responseText)
                                                    if (data.responseText == undefined) {
                                                        $.toast({
                                                            text: data.responseText,
                                                            showHideTransition: 'slide',
                                                            bgColor: '#965d4d',
                                                            textColor: '#ffffff',
                                                            allowToastClose: false,
                                                            hideAfter: 3000,
                                                            stack: 5,
                                                            textAlign: 'left',
                                                            position: 'top-right'
                                                        })
                                                    } else  if (data.responseText.trim() == '' || data.responseText.trim() == null) {
                                                        $.toast({
                                                            text: "Talent Add Successfully!",
                                                            showHideTransition: 'slide',
                                                            bgColor: '#f2f5ff',
                                                            textColor: '#5170d6',
                                                            allowToastClose: false,
                                                            hideAfter: 1000,
                                                            stack: 5,
                                                            textAlign: 'center',
                                                            position: 'top-right'
                                                        });
                                                        setTimeout(function () { location.reload(); }, 1000);
                                                    } else {
                                                        $.toast({
                                                            text: data.responseText,
                                                            showHideTransition: 'slide',
                                                            bgColor: '#965d4d',
                                                            textColor: '#ffffff',
                                                            allowToastClose: false,
                                                            hideAfter: 3000,
                                                            stack: 5,
                                                            textAlign: 'left',
                                                            position: 'top-right'
                                                        })
                                                    }
                                                });

                                            }
                                            else {
                                                $.toast({
                                                    text: "Upload fail",
                                                    showHideTransition: 'slide',
                                                    bgColor: '#965d4d',
                                                    textColor: '#ffffff',
                                                    allowToastClose: false,
                                                    hideAfter: 3000,
                                                    stack: 5,
                                                    textAlign: 'left',
                                                    position: 'top-right'
                                                });
                                            }
                                        });
                                }
                            }
                            tagCount = tagArray.length;
                        } catch (err) {
                            console.log(err)
                        }
                    }

                    // Bad region request
                    else {
                        return;
                    }

                },
                function (err) {
                    console.log(err);
                }
            );
        }

        $('#addForm').submit(function (e) {
            e.preventDefault();
        });

        document.getElementById('talentBtn').addEventListener(
            'click',
            function () {
                $('#addTalentModal').modal('show');

            });

    </script>
}