<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheLifeTimeTalents</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-toast/jquery.toast.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-toast/jquery.toast.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheLifeTimeTalents</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TheLifeTimeTalents - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
 
    <script>

        var config = {
            apiKey: "AIzaSyAscPkHv9DIK8L4aW_JdFndUCNaVk_Tguw",
            authDomain: "talent-303507.firebaseapp.com",
        };
        firebase.initializeApp(config);

        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                if (sessionStorage.getItem("loginStatus") != "loggedIn") {
                    $.toast({
                        text: "Welcome, " + user.email,
                        showHideTransition: 'slide',
                        bgColor: '#f2f5ff',
                        textColor: '#5170d6',
                        allowToastClose: false,
                        hideAfter: 3000,
                        stack: 5,
                        textAlign: 'center',
                        position: 'top-right'
                    });
                    sessionStorage.setItem("loginStatus", "loggedIn");
                }
            
            } else {
                if (sessionStorage.getItem("loginStatus") != "loggedOut") {
                    $.toast({
                        text: "You have not signed in",
                        showHideTransition: 'slide',
                        bgColor: '#f2f5ff',
                        textColor: '#5170d6',
                        allowToastClose: false,
                        hideAfter: 3000,
                        stack: 5,
                        textAlign: 'center',
                        position: 'top-right'
                    });
                    sessionStorage.setItem("loginStatus", "loggedOut");
                }
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
